body {
    padding: 10px;
    background-color: #07f1db;
	font-size: 16px;
	font-family: Monospace;
}

#gridContainer {
    padding-bottom: 10px;
}

table {
    background-color: #310303;
}

td {
    border: 1px solid black;
    /*border-radius: 3px;*/
    width: 10px;
    height: 10px;
}

span {
    color: #222;
}

#start,
#step,
#reset {
    padding: .75em;
    border-radius: 5px;
    border: 1;    
    background-color: burlywood;
}


td.dead {
    background-color: crimson;
}

td.live {
    background-color: gainsboro;
    border-radius: 10px;
}
/*button{
    background-color: aqua; //Green 
    border: 1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
	*/
}

h2{
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
}
	
h3{
	color: navy;
	font-family: sans-serif;
	font-weight: normal;
	font-style: italic;
}
	
